certifi==2024.8.30
charset-normalizer==3.3.2
dacite==1.8.1
idna==3.10
requests==2.32.3
urllib3==2.2.3
aiohttp==3.10.5
asyncio==3.4.3
aiofiles==24.1.0
tqdm==4.66.5
vk_api==11.9.9
pytils==0.4.1
pytrovich==0.0.4
PyYAML==6.0.2