certifi==2024.6.2
charset-normalizer==3.3.2
dacite==1.8.1
idna==3.7
requests==2.31.0
urllib3==2.2.1
aiohttp==3.9.5
asyncio==3.4.3
bs4==1.0.0
aiofiles==23.2.1
aiohttp==3.9.5
tqdm==4.66.2
vk_api==11.9.9
pytils==0.4.1
pytrovich==0.0.4
PyYAML==6.0.1