certifi==2024.7.4
charset-normalizer==3.3.2
dacite==1.8.1
idna==3.7
requests==2.32.3
urllib3==2.2.2
aiohttp==3.10.1
asyncio==3.4.3
bs4==1.0.0
aiofiles==24.1.0
aiohttp==3.10.1
tqdm==4.66.4
vk_api==11.9.9
pytils==0.4.1
pytrovich==0.0.4
PyYAML==6.0.1